@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/roboto-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Correctifs uniquement pour Safari iOS */
body.safari-ios .hamburger-menu {
  display: block !important;
  text-align: center !important;
}

body.safari-ios .cta-rdv {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  animation: pulse 2s infinite !important;
}

body.safari-ios .mode-switch {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

body.safari-ios .lang-switch {
  display: block !important;
  text-align: center !important;
}

body.safari-ios .image-switcher img {
  border-radius: inherit !important;
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

body.safari-ios .parcours-section {
  padding-top: 2rem !important;
}

body.safari-ios .timeline-item {
  margin-bottom: 2rem !important;
}

body.safari-ios .timeline-content {
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5rem !important;
}



